.timetable-canvas {
    display: grid;
    grid-template-columns: 100px repeat(17, minmax(60px, 1fr));
    gap: 8px;
    align-items: start;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .time-header {
    padding: 4px;
    grid-column: 2 / -1; /* Time headers start from the second column */
    display: grid;
    grid-template-columns: repeat(17, 1fr);

  }

  .time-slot-header {
    font-size: small;
    padding: 3px;
    background-color: #e9f0f6;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .day-row {
    display: contents;
  }
  
  .day-header {
    grid-row: auto;
    grid-column: 1;
    padding: 5px;
    background-color: #e9f0f6;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

.button.selected {
  background: #055388;
  color: white;
}

.time-slot {
    position: relative;
    padding: 4px;
    font-size: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }

.time-slot .department-shortname,
.time-slot .building-room,
.time-slot .teacher-name,
.time-slot .week-type {
  text-align: center;
}

/*Subject selection box*/
.subject-selection {
    border: 2px solid #184486; /* Change color and thickness as needed */
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: lightslategray;
}
  
.subject-selection:before {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
  
.subject-selection button {
    /* Apply language button styles */
    padding: 0.7rem 1.2rem;
    display: block;
    margin: 5px 0;
    border: 2px solid #184486;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: steelblue;
}

.subject-selection button:focus {
    border: 2px solid #184486;
    border-radius: 5px;
}

.subject-selection .button:hover {
   background-color: #184486 ;
}

.selected-subject .button {
    background-color: #184486; /* Example color, change it as needed */;
}

  /*Subject details*/
.subject-details .button {
    display: inline;
    padding: 7.5px;
    border: 2px solid #184486;
    border-radius: 5px;
    cursor: pointer;
    background-color: steelblue;
    color:white;
    gap: 1rem;
}

.subject-details button:hover {
    background-color: #184486;
}

/*Remove button*/
.remove-subject-button, .delete-button {
  cursor: pointer;
  border: none;
  background: red;
  color: white;
  margin-bottom: 0.1rem;
  border-radius: 3px;
  transition: all .2s;
}

.remove-subject-button:hover, .delete-button:hover {
  transform: scale(1.5);
    background: red;
}

.right-section {
    display: flex;
    flex-direction: row; /* Change the direction to row */
    justify-content: flex-start;
    align-items: flex-start; /* Aligns items to the start of the flex container */
    gap: 20px; /* Adds some space between the two sections */
    width: 100%; /* Adjust the width as necessary */
  }

/*Subject details box */
.subject-details {
    border: 2px solid #184486; /* Change color and thickness as needed */
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    transform: translateX(-50%);
    position:absolute;
    left:50%;
    background-color: lightslategray;
}

.subject-details:before {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

/*Done subjects box*/
.done-subjects {
    border: 2px solid #184486; /* Change color and thickness as needed */
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    background-color: lightslategray;
}

.done-subjects:before {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.collision-indicator {
  position: absolute;
  top: 4px;
  right: 1px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #6685ff;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.collision-indicator.full-occupancy {
  background-color: #ff4d4d; /* Red color for full occupancy */
}

.buttons-left {
  display: flex;
  justify-content: start; /* Aligns items to the start of the container */
  gap: 1rem;
}

.subject-item {
  position: relative; /* Make this a positioning context */
}


.subject-item .button {
  width: 100%; /* Adjust size as needed */
  /* Additional styling */
}

.done-subjects button{
  padding: 0.7rem 2rem;
  display: block;
  margin: 7.5px 0;
  border: 1px solid #007BFF;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

.done-subjects .undo-button {
  position: absolute ;
  top: 4.5px; /* Adjust as needed for exact positioning */
  right: 0; /* Adjust as needed */
  z-index: 1; /* Ensure it's above the subject button */
  padding: 0; /* Adjust padding as needed */
  margin: 0;
  margin-right: 3px;
  border: none;
  font-size: 20px;
  float: right;
  /* Adjust size, padding, and margins as needed */
}

.subject-item .delete-button {
  position: absolute;
  top: 0; /* Adjust as needed for exact positioning */
  left: 0; /* Adjust as needed */
  z-index: 1; /* Ensure it's above the subject button */
  padding: 2.5px; /* Adjust padding as needed */
  padding-right: 5px;
  padding-left: 5px;
  margin: 0;
  border:none;
  border-radius: 3px;
  font-size: 15px;
  background-color: red;
  transition: all .2s;
  /* Adjust size, padding, and margins as needed */
}

.subject-item .delete-button:hover {
  transform: scale(1.5);
}


.pdf-export .collision-indicator {
  display: none;
}


/* Pure CSS Loading Clock Using a Single Div */
.loading-clock {
  margin: 10px auto;
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 100%;
  position: relative;
}
.loading-clock:before,
.loading-clock:after {
  position: absolute;
  display: block;
  content: "";
  width: 2px;
  left: 19px; /* half width of clock - half width of hand */
  background: black;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
/* Animations */
@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Big hand */
.loading-clock:before {
  top: 5px;
  height: 20px; /* half the width/height of the clock */
  transform-origin: 1px 15px;
  animation: rotate .35s infinite linear;
}
/* Little hand */
.loading-clock:after {
  top: 11px;
  height: 14px; /* top + height for little hand must = top + height for big hand */
  transform-origin: 1px 9px;
  animation: rotate 4.2s infinite linear; /* time should be big-hand time * 12 */
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading-text {
  margin-bottom: 5px; /* Adjust this value as needed to move the text closer or further from the clock */
}

.slot-divider {
  height: 2px; /* Thickness of the divider */
  background-color: #888888; /* Color of the divider */
  width: 90%; /* Width relative to its parent */
  margin: 5px auto; /* Center the divider and add some space above and below */
  border-radius: 1px; /* Optional: slightly round the edges of the divider */
}

.color-selection {
  display: flex;
  align-items: center; /* Aligns the title and color wheel vertically */
  margin-bottom: 20px; /* Adds some space below each section */
}

.color-wheel-container {
  margin-left: 10px; /* Adds some space between the title and the wheel */
}
.lecture-section, .tutorial-section {
  display: flex;
  align-items: center; /* Center items vertically */
  gap: 10px; /* Add some space between the title and the color wheel */
  padding-top: 20px;
}

.wheel-container {
  display: inline-block;
  vertical-align: top;
  flex-shrink: 0;
  margin-left: 0px; /* Space between the Compact picker and the Wheel */
}
.compact-color-picker-wrapper {
  display: inline-block; /* Allows the transform to apply correctly */
  position:relative;
  z-index: 10;
  /* Add any additional positioning or spacing styles here */
}

.label-to {
    margin-right: -40px;
    margin-left: 5px;
    width: 2rem;
}

h5 {
  margin-top: 30px;
  margin-bottom: 8px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.btn {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.btn-success {
    background-color: green;
    border-color: #184486;
}

.btn-success:hover {
    background-color: green;
}

.btn:hover {
    border-width: 2px;
    border-color: black;
}

.btn-danger {
    background-color: darkred;
    border-color: #184486;
}

button .btn-danger:hover {
    background-color: darkred;
}